bin/x64/Debug/*
!bin/x64/Debug/assimp-vc140-mt.dll
.vs/*
*.blend1
data/log.txt
data/models/bin/stages/stress/*
!data/models/bin/stages/stress/readme.md
data/models/src/stages/stress/*
!data/models/src/stages/stress/readme.md