bin/x64/Debug/*
!bin/x64/Debug/assimp-vc140-mt.dll
.vs/*
*.blend1
data/log.txt
data/models/bin/maps/stress/*
!data/models/bin/maps/stress/readme.md
data/models/src/maps/stress/*
!data/models/src/maps/stress/readme.md